.main-div{
     margin: 50px;
}

.card{
    /* border: 1px solid; */
    /* padding: 5px; */
    height: 500px;

    img{
    object-fit: cover;
    height: 50%;
}
   
}


.card-title {
        height: 20px;    
    }